<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Bind</title>

    <style>
        .active{background: blueviolet;}
    </style>
</head>

<body>
    <div id="app">
       <ul>
           <li v-for="i in 10">{{ i }}</li>
       </ul>
       <hr>
       <ul>
           <li v-for="product in products">{{product}}</li>
       </ul>
       <hr>
       <ul>
           <li v-for="(task, index) in tasks" :class="{active: task.isActive}"> {{index}} > {{task.id}} - {{task.name}}</li>
       </ul>
    </div>

    <script src="file:///C:/Users/william.freire/Documents/dev/vuejs/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                products: [
                    'TV', 'Geladeira', 'Microondas', 'Caixa de som'
                ],
                tasks: [
                    {id: 1, name: 'Lavar Louça', isActive: true},
                    {id: 2, name: 'Lavar Carro', isActive: false},
                    {id: 3, name: 'Lavar Moto', isActive: false},
                    {id: 4, name: 'Lavar O pé', isActive: false},
                    {id: 5, name: 'Lavar A bike', isActive: false},
                ]
            }
        })
    </script>
</body>

</html>